version: '{build}'
os: Windows Server 2012
install:
  - ps: iex (new-object net.webclient).downloadstring('https://get.scoop.sh')
  - ps: scoop bucket add versions
  - ps: scoop install sbt0.13
environment:
  CI_SCALA_VERSION: 2.12.2
build_script:
  - sbt downloadIdea tests/compile
test_script:
  - sbt tests/test
cache:
  - C:\Users\appveyor\.m2
  - C:\Users\appveyor\.ivy2
  - C:\Users\appveyor\.coursier
  - C:\Users\appveyor\scoop\cache
  - scalafmt-intellij\idea
