/* your custom css */

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 0px;
    padding: 1em 20px;
    quotes: "“" "”" "‘" "’";
}

blockquote:before {
    color: #eb4d54;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    vertical-align: -0.4em;
}

pre {
    overflow-x: scroll;
}

.scalafmt-pair {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 1.5em 0px;
}

.scalafmt-pair pre code {
    background: transparent;
    border-left: none;
}

.scalafmt-pair .before:before,
.scalafmt-pair .after:before {
    color: #808080;
    font-family: monospace;
    content: "// Before";
    font-size: 1em;
    line-height: 1em;
    vertical-align: -0.8em;
    font-weight: bold;
    font-style: italic;
    padding-left: 20px;
}

.scalafmt-pair .after:before {
    content: "// After";
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {}

@media only screen and (min-width: 1024px) {}

@media only screen and (max-width: 1023px) {}

@media only screen and (min-width: 1400px) {
    .scalafmt-pair {
        flex-direction: row;
    }
}

@media only screen and (min-width: 1500px) {}
