scala> org.scalafmt.ScalaFmt.format("""
object FormatMe { List(Split(Space, 0).withPolicy(SingleLineBlock(close)), Split(Newline, 1).withPolicy{ case Decision(t@FormatToken(_, `close`, _), s) => Decision(t, List(Split(Newline, 0)))}.withIndent(2, close, Right)) }
""")
result0: String = """
object FormatMe {
  List(Split(Space, 0).withPolicy(SingleLineBlock(close)),
       Split(Newline, 1).withPolicy {
         case Decision(t@FormatToken(_, `close`, _), s) =>
           Decision(t, List(Split(Newline, 0)))
       }.withIndent(2, close, Right))
}
"""
