// 40 columns                          |
object StripMargin {
  val example1 =
    s"""Examples:
               |  * one
               |  * two
               |  * $three
               |""".stripMargin
               
  // pipe character after opening """
  val example2 =
    s"""|Examples:
               |  * one
               |  * two
               |  * $three
               |""".stripMargin
}
